<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trail Builder</title>
  </head>
  <body style="display: none" id="body">
    <div id="container">
      <label class="grid-size-label">
        Grid Size: <input type="number" min="10" max="20" value="15" class="grid-size-input" />
      </label>
      <section class="score-container">
        <p class="current-score-container">Score: <span class="current-score">0</span></p>
        <p class="high-score-container">High Score: <span class="high-score">0</span></p>
      </section>
      <canvas class="canvas"></canvas>
      <section class="game-controls">
        <button class="move-button button-move-up" data-direction="up">
          <img src="../assets/icons/arrows/arrow_up.svg" alt="" class="move-button-icon" />
        </button>
        <button class="move-button button-move-right" data-direction="right">
          <img src="../assets/icons/arrows/arrow_right.svg" alt="" class="move-button-icon" />
        </button>
        <button class="move-button button-move-down" data-direction="down">
          <img src="../assets/icons/arrows/arrow_down.svg" alt="" class="move-button-icon" />
        </button>
        <button class="move-button button-move-left" data-direction="left">
          <img src="../assets/icons/arrows/arrow_left.svg" alt="" class="move-button-icon" />
        </button>
      </section>
      <section class="game-over-panel-container">
        <div class="game-over-panel-overlay"></div>
        <div class="game-over-panel">
          <h1 class="game-over-panel-heading">Game Over!</h1>
          <button class="restart-game-button">Restart</button>
        </div>
      </section>
    </div>
  </body>
</html>
