*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  height: 100vh;
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4vmin;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --dark-mode-text-color: white;
  color: var(--dark-mode-text-color);
  --dark-mode-background-color: black;
  background-color: var(--dark-mode-background-color);
  --dark-mode-background-color-1: rgba(255, 255, 255, 0.1);
  --dark-mode-background-color-2: rgba(255, 255, 255, 0.2);
  --dark-mode-background-color-3: rgba(255, 255, 255, 0.3);
  --dark-mode-overlay-background-color: rgba(0, 0, 0, 0.5);
  --dark-mode-border-color: white;
}
#container.light-mode {
  --dark-mode-text-color: black;
  --dark-mode-background-color: white;
  --dark-mode-background-color-1: rgba(0, 0, 0, 0.1);
  --dark-mode-background-color-2: rgba(0, 0, 0, 0.2);
  --dark-mode-background-color-3: rgba(0, 0, 0, 0.3);
  --dark-mode-overlay-background-color: rgba(255, 255, 255, 0.5);
  --dark-mode-border-color: black;
}
.canvas-container {
  position: relative;
}
.canvas {
  border: 2px solid;
  border-color: var(--dark-mode-border-color);
}
.game-controls {
  display: grid;
  grid-template-areas:
    ". up ."
    "left down right";
  justify-content: center;
  justify-items: center;
  align-items: flex-start;
  gap: 0.4rem;
}
.move-button {
  height: 6vmin;
  aspect-ratio: 1/1;
  background: none;
  outline: none;
  border: 2px solid;
  border-color: var(--dark-mode-border-color);
  padding: 0.2rem;
  cursor: pointer;
  transition: background-color 0.25s ease;
}
.move-button:hover {
  background-color: var(--dark-mode-background-color-1);
}
.move-button:active {
  background-color: var(--dark-mode-background-color-2);
}
.move-button-icon {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.button-move-up {
  grid-area: up;
  align-items: flex-end;
}
.button-move-right {
  grid-area: right;
}
.button-move-down {
  grid-area: down;
}
.button-move-left {
  grid-area: left;
}

/* Score Section */
.score-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 60vmin;
  width: fit-content;
  gap: 1rem;
}
.score-container > * {
  font-size: 1.5rem;
}
.score-container > * > span {
  font-weight: 700;
}

/* Game Over Panel */
.game-over-panel-container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.game-over-panel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--dark-mode-overlay-background-color);
  opacity: 0;
  transition: opacity 0.25s ease;
}
.game-over-panel-container.visible > .game-over-panel-overlay {
  opacity: 1;
  pointer-events: all;
}
.game-over-panel {
  position: absolute;
  border: 2px solid;
  border-color: var(--dark-mode-border-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  transform: translateY(50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease, transform 0.25s ease;
}
.game-over-panel-container.visible > .game-over-panel {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}
.restart-game-button {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  background: none;
  outline: none;
  border: 2px solid;
  border-color: var(--dark-mode-border-color);
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background-color 0.25s ease;
}
.restart-game-button:hover {
  background-color: var(--dark-mode-background-color-1);
}
.restart-game-button:active {
  background-color: var(--dark-mode-background-color-2);
}

/* Header */
.header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2vmin;
  padding: 0 1rem;
}
.toggle-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Main */
.main {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2vmin 0;
}
.canvas-scores-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Settings */
.toggle-settings-button {
  height: 6vmin;
  padding: 1vmin;
  border-radius: 100%;
  background-color: var(--dark-mode-background-color-1);
  transition: background-color 0.25s ease;
}
.toggle-settings-button:hover {
  background-color: var(--dark-mode-background-color-2);
}
.toggle-settings-button:active {
  background-color: var(--dark-mode-background-color-3);
}

/* Light/Dark Mode Toggle */
.toggle-light-dark-mode-button {
  height: 6vmin;
  aspect-ratio: 1.4/1;
  border-radius: 1rem;
  background-color: var(--dark-mode-background-color-1);
  transition: background-color 0.25s ease;
}
.toggle-light-dark-mode-button:hover {
  background-color: var(--dark-mode-background-color-2);
}
.toggle-light-dark-mode-button:active {
  background-color: var(--dark-mode-background-color-3);
}

/* Input Container */
.input-container {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 60vmin;
  width: fit-content;
  gap: 1rem;
  transform: scaleY(0) translate(-50%, -50%);
  opacity: 0;
  transform-origin: bottom;
  transition: opacity 0.25s ease, transform 0.25s ease;
}
#container.settings-visible > .header > .input-container {
  opacity: 1;
  transform: scaleY(1) translate(-50%, -50%);
}
.input-label {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.4rem;
  white-space: nowrap;
}
.input {
  flex: 1;
  background: none;
  outline: none;
  border: none;
  border-radius: 0.4rem;
  background-color: var(--dark-mode-background-color-1);
  font-family: inherit;
  color: inherit;
  padding: 0.4rem;
  font-size: 1rem;
  transition: background-color 0.25s ease;
}
.input:hover {
  background-color: var(--dark-mode-background-color-2);
}
.input:focus {
  background-color: var(--dark-mode-background-color-3);
}

/* Icons */
.icon {
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}

/* Button Reset */
button {
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}

/* Portrait Screen */
@media (orientation: portrait) {
  .move-button {
    height: 6vmax;
  }
  .toggle-settings-button {
    height: 9vmin;
    padding: 2vmin;
  }
  .toggle-light-dark-mode-button {
    height: 9vmin;
  }
  .input-container {
    position: static;
    transform: scaleY(0);
  }
  #container.settings-visible > .header > .input-container {
    transform: scaleY(1);
  }
}
@media (orientation: portrait) and (min-width: 768px) {
  .toggle-settings-button {
    height: 6vmin;
    padding: 1vmin;
  }
  .toggle-light-dark-mode-button {
    height: 6vmin;
  }
}
